.textSeparator li {
  display: flex;
  align-items: center;
}
.textSeparator button,
.textSeparator span {
  color: var(--gray);
  font-weight: var(--font-weight-regular);
  font-size: var(--font-footnote);
  margin: 0 0.2rem;
}

.textSeparator button:hover {
  color: var(--black);
}
