:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* color */
  --black: #222;
  --white: #fff;
  --gray: #a7a7a7;
  --gray1: #4e4f4e;
  --dark-gray: #83899b;
  --light-purple: #dacaff;
  --purple: #ad71ea;
  --alarm-red: #ff5c5c;

  /* font-weight */
  --font-hero-title: 1.5rem;
  --font-big-title: 1.4rem;
  --font-title-1: 1.3rem;
  --font-title-2: 1.2rem;
  --font-title-3: 1rem;
  --font-headline: 0.9rem;
  --font-body: 0.8rem;
  --font-footnote: 0.7rem;
  --font-caption: 0.6rem;

  --font-button: 1.125rem;

  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-semibold: 600;
  --font-weight-bold: 700;
}

/* 벳지 색깔 */
/* NEWBIE:#80E045;
엠비티라노:#00AF76;
MBTMI:#FAA454;
엠비티어른:#F85CA2;
엠비티어른:#00B5DC; */
